.messenger {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    padding: 10px 30px;
}

.messenger__messages {
  display: flex;
  flex-direction: column;
}

.messenger__footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    margin-top: auto;
}

.messenger__footer input {
    width: 100%;
    border-radius: 0;
}

.messenger__footer button {
    margin-left: auto;
}
